<!DOCTYPE html>
<html>
<head>
	<title>Tweets Analysis</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css" rel="stylesheet" integrity="sha384-awusxf8AUojygHf2+joICySzB780jVvQaVCAt1clU3QsyAitLGul28Qxb2r1e5g+" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

</head>

<!-- code for header-->
	<style>
	* {box-sizing: border-box;}

	body { 
	  margin: 0;
	  font-family: Arial, Helvetica, sans-serif;
	}

	.header {
	  overflow: hidden;
	  background-color: #f1f1f1;
	  background-image: linear-gradient(to right, red , yellow);
	  padding: 20px 10px;
	}

	.header a {
	  float: left;
	  color: white;
	  text-align: center;
	  padding: 12px;
	  text-decoration: none;
	  font-size: 18px; 
	  line-height: 25px;
	  border-radius: 4px;
	}

	.header a.logo {
	  font-size: 25px;
	  font-weight: bold;
	}

	.header a:hover {
	  background-color: white;
	  color: #ff0000;
	}

	.header a.active {
	  background-color: dodgerblue;
	  color: white;
	}

	.header-right {
	  float: right;
	}

	@media screen and (max-width: 500px) {
	  .header a {
	    float: none;
	    display: block;
	    text-align: left;
	  }
	  .header-right {
	    float: none;
	  }
	}
	</style>






<body>

		<div class="header">
	  <a href="http://androidestate.com" class="logo">TWEET ANALYZER</a>
	  <div class="header-right">
	    <a class="active" href="http://androidestate.com">Home</a>
	  </div>
	</div>





	<div class='container-fluid'  style="padding-left: 0px;
    padding-right: 0px;">
		<div class='text-center'>
			
			
			<div style="background-color: #a49696; height: 500px; width: 100%;">
				<h5 style="padding: 111px 0 0;font-size: 48px;color: white;font-family: sans-serif;    font-weight: 700;">Search for Tweets </h5>
				<p style="color:white"> for professional Data Analysts</p>
			<div id="search_box" class="container-fluid" >
				<input type="text" id="query" placeholder="Search"  style=" border-radius: 18px;   margin: 25px auto;width: 80%;height: 42px;">
				<button id="search" style="border-radius: 12px;padding: 10px; background-color: #890ff8;color:white;">Search</button>
				<button id="getcsv"  style="border-radius: 12px; padding: 10px;background-color: #890ff8;color:white;" >Download CSV</button>
				<div id="loading" style="color:white;">Loading...</div>
			</div>
			</div>	
			</div>
				<div class='highchart'id="container" align="center" style="  width:80%; margin-bottom: 50px"></div>
					
				
			
		
		<div id="tweets"></div>
		<footer class="text-center">
			Made with ❤ | <a href="https://github.com/chajaykrishna">Github</a> | <a href="http://androidestate.com">Ajay</a>
		</footer>	</div>
	<script type="text/javascript">
	 var current_data;
		function sentiment_to_color(sentiment){
			if(sentiment == 'positive') return 'panel-success';
			else if(sentiment == 'negative') return 'panel-danger';
			else return 'panel-primary';
		}
		function load_tweets(querystring){
			$.ajax({
			    url: 'tweets',
			    data: {'query': querystring, 'retweets_only': 'false', 'with_sentiment': 'true'},
			    dataType: 'json',
			    type: 'GET',
			    success: function(data) {
			    	buildChart(data);
			    	current_data = data['data'];
			        var tweets = data['data'];
			        var container = $('#tweets');
			        var contents = '';
			        contents+='<div>'
			        
			        for(i = 0; i < tweets.length; i++){
			        	contents+= '<div class="panel '+ sentiment_to_color(tweets[i].sentiment) +'"> <div class="panel-heading"> <h3 class="panel-title">'+ tweets[i].user +'</h3> </div> <div class="panel-body"><blockquote>'+ tweets[i].text + '</blockquote> </div> </div>'
                        // contents += '<li class="list-group-item '+ sentiment_to_color(tweets[i].sentiment) +'">'+ tweets[i].user + ": " + tweets[i].text + '</li>';
			        }
                    
                    contents+='</div>';
			        container.html(contents);
			        $('#query').val(querystring);
			        $('#loading').html(data['count'] + " Tweets loaded about "+ querystring +".");
			    }
			});
		}
		function get_csv(json){
			var fields = Object.keys(json[0]);
			var csv = json.map(function(row){
			  return fields.map(function(fieldName){
			    return JSON.stringify(row[fieldName] || '');
			  });
			});
			csv.unshift(fields);
			return csv.join('\r\n');
		}
		function download(filename, text) {
		  var element = document.createElement('a');
		  element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
		  element.setAttribute('download', filename);
		  element.style.display = 'none';
		  document.body.appendChild(element);
		  element.click();
		  document.body.removeChild(element);
		}
		$(document).ready(function(){
			load_tweets('android');
		});
		$('#search').click(function(){
			$('#loading').html('Loading...');
			$('#tweets').html('');
			load_tweets($('#query').val());
		});
		$('#getcsv').click(function(){
			download('data.csv', get_csv(current_data));
		});
	function buildChart(data) {
				   var chart = Highcharts.chart('container', {

				    title: {
				        text: 'last 100 tweets on '+$('#query').val()
				    },

				    subtitle: {
				        text: 'Plain'
				    },

				    xAxis: {
				        categories: ['Positive', 'Negative', 'Neutral']
				    },

				    series:  getPercentage(data)

				});


				
				
}; 
function getNegativePercentage(data) {
	var current_data = data['data'];
	var counter = 0 ;
	for (var i = current_data.length - 1; i >= 0; i--) {
		if(current_data[i].sentiment == 'negative') 
			counter ++;
	}
		console.log('negative',counter)
	return counter;
}
function getPositivePercentage(data) {
	var current_data = data['data'];
	var counter = 0 ;
	for (var i = current_data.length - 1; i >= 0; i--) {
		if(current_data[i].sentiment == 'positive') 
			counter ++;
	}
		console.log('positive',counter)
	return counter;
}
function getNeutralPercentage(data) {
	var current_data = data['data'];
	var counter = 0 ;
	for (var i = current_data.length - 1; i >= 0; i--) {
		if(current_data[i].sentiment == 'neutral') 
			counter ++;
	}
	console.log('neutral',counter)
	return counter;
}
function getPercentage(data) {
	var neutral = getNeutralPercentage(data);
	var positive = getPositivePercentage(data);
	var negative = getNegativePercentage(data);
	return [{
        type: 'column',
        colorByPoint: true,
        data: [positive, negative, neutral],
        showInLegend: false
    }]
	// body...
}
	</script>
</body>
</html>